<% content_for :head do %>
	<script type="text/javascript">
	document.observe('dom:loaded', function() {	
		new TextAreaLimiter('home_page_version_conditions_content', 167);
	});
	</script>
<% end %>

<div id="breadcrumbs">
	<%= link_to 'Home', admin_path %> &gt; <%= link_to 'Home Page', edit_home_page_path %> &gt; Edit Conditions and Treatments Promo
</div>

<%= show_errors_for :version %>

<% form_tag update_home_page_conditions_path do %>
	<% fields_for @version do |f| %>
		<div class="form_block left_half">
			<dl class="form">
				<dt><%= f.label :conditions_content, 'Conditions and Treatments' %></dt>
				<dd class="last"><%= f.text_area :conditions_content, :cols => 50, :rows => 10 %></dd>
			</dl>	
		</div>
		<div class="clear"></div>
	
		<%= render :partial => 'admin/utility/publish_controls', :locals => { 
																					:enable_publish => ( !@version.new_record? ), 
																					:form => f,
																					:show_revert => true } %>																				
	<% end %>
<% end %>