<%= show_errors_for :topic %>

<% form_for @topic do |c| %>
	<dl class="form">
		<dt><%= c.label :name, 'Topic Name' %></dt>
		<dd><%= c.text_field :name, :size => 40, :maxlength => 250 %></dd>
	</dl>
	
	<p><%= c.label :slug, 'URL:' %> http://texasback.com/ask_the_doctor/topics/<%= c.text_field :slug, :maxlength => 40, :size => 20 %></p>
	
	<% fields_for "question_topic[draft_version_attributes]", @version do |v| %>	
	
		<%= render :partial => 'admin/utility/meta_form', :locals => { :form => v, :affects => 'Topic page only' } %>
	
	<% end %>
	
	<p class="checkbox"><%= c.check_box :active_flag %> <%= c.label :active_flag, 'Make this topic active' %></p>

	<%= render :partial => 'admin/utility/publish_controls', :locals => { 
																				:enable_publish => ( !@version.new_record? ), 
																				:form => c,
																				:show_revert => (@topic.has_published?) } %>
<% end %>