
<h2>Upload a New File</h2>

<p>Choose a file to upload. If the file already exists, it will be replaced.</p>

<% form_for @file, :html => { :multipart => true } do |f| %>
	<p><%= f.file_field :uploaded_data %></p>
	
	<p><%= f.submit 'Upload' %></p>
<% end %>

<h2>Choose an Existing File</h2>

<% if flash[:notice] %>
	<p style="color:green;"><%= flash[:notice]%></p>
<% end %>

<% if flash[:error] %>
	<p style="color:red;"><%= flash[:error]%></p>
<% end %>

<ul>
	<% @files.each do |file| %>
		<li>
			<%= file.filename %> <%= link_to_function 'Insert', "insertFileLink('#{file.public_filename}');" %>		
		</li>
	<% end %>
</ul>

<% if params[:file] %>
	<script type="text/javascript">
	insertFileLink('<%= FileUpload.find(params[:file]).public_filename %>');
	</script>
<% end %>