<div id="breadcrumbs">
	<%= link_to 'Home', admin_path %> &gt; <%= link_to 'Home Page', edit_home_page_path %> &gt; Choose Home Page Animation
</div>


<% form_tag(save_home_page_animations_path) do %>
	<table>
		<thead>
			<tr>
				<th>Animation Name</th>
				<th>Flash Path</th>
				<th>Active?</th>
			</tr>
		</thead>
		<tbody>
			<% @animations.each do |item| %>
				<tr>
					<td><%= h item.title %></td>
					<td><%= link_to item.path, item.path, :target => '_blank' %></td>
					<td><%= radio_button_tag 'active_animation', item.id, (item.active) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<p>Warning: Choosing a new animation will display it on the home page immediately.</p>
	
	<p><%= submit_tag 'Save Home Page' %></p>
<% end %>