<%= render :partial => 'about_pages/sidebar' %>

<%= rich_format @events_page.part_content('body') %>

<%= render :partial => 'months_list' %>

<h3>Events in <%= @selected_date.to_formatted_s(:month_and_year) %></h3>

<% if @events.length > 0 %>
	<%= render :partial => 'event_small', :collection => @events %>
<% else %>
	<p>There are no scheduled events in <%= @selected_date.to_formatted_s(:month_and_year) %>.  Check back soon!</p>
<% end %>