<div id="breadcrumbs">
	<%= link_to 'Home', admin_path %> &gt; <%= link_to 'Appointments', appointments_path %> &gt; Edit Appointments Page
</div>

<p>This page can be found at <strong><%= link_to "http://texasback.com#{@version.page.url}", "#{@version.page.url}" %></strong> (generated after first publishing)</p>

<%= show_errors_for :version %>

<% form_for @version, :url => update_appointments_path, :method => :put do |f| %>
	<dl class="form">
		<dt><%= f.label :secondary, 'Patient Forms' %></dt>
		<dd><%= f.rich_text :secondary %></dd>
		
		<dt><%= f.label :body_content, 'Body Content' %></dt>
		<dd><%= f.rich_text :body_content %></dd>
	</dl>
	
	<%= render :partial => 'admin/utility/meta_form', :locals => { :form => f, :affects => "#{h(@version.page.title)} page only" } %>
		
	<%= render :partial => 'admin/utility/publish_controls', :locals => { 
															:enable_publish => (@version.modified? && @version.errors.length == 0), 
															:form => f,
															:show_revert => true } %>
<% end %>