<% if version.has_bio? %>
	<div class="bio<%= ' tiny' if doctor.photo_path.blank? and doctor.locations.length == 0 and !doctor.specialty %>">
		<% unless version.photo_path.blank? %>
			<%= link_to(image_tag(version.photo_path, :alt => h(doctor.full_name), :title => h(doctor.full_name), :class => 'photo'), view_doctor_path(:slug => doctor.slug)) %>
		<% end %>
	
		<h3 id="<%= doctor.slug %>"><%= h doctor.full_name %></h3>
			<% if doctor.locations.length > 0 or doctor.specialty %>	
				<dl>
					<% if doctor.locations.length > 0 %>
						<dt><%= pluralize(doctor.locations.length, 'Practicing Location')%>:</dt>
						<dd><%= doctor.locations.collect { |l| link_to(h(l.name_and_state), h(l.map_link), :target => '_blank') }.to_sentence %></dd>
					<% end %>

					<% if doctor.specialty %>
						<dt>Specialty:</dt>
						<dd><%= h doctor.specialty.name %></dd>
					<% end %>
				</dl>	
			<% end %>	
			<% if doctor.locations.length > 0 or doctor.specialty %>
				<p class="view_full_bio<%= " nobreakdown" unless doctor.locations.length > 0 or doctor.specialty %>"><%= link_to doctor.full_name, view_doctor_path(:slug => doctor.slug) %><br />
				<%= link_to doctor.specialty.name, view_doctor_path(:slug => doctor.slug) %></p>
			<% else %>
				<p class="view_full_bio<%= " nobreakdown" unless doctor.locations.length > 0 or doctor.specialty %>"><%= link_to doctor.full_name, view_doctor_path(:slug => doctor.slug) %></p>
			<% end %>
			
	</div>
<% else %>
	<h3 id="<%= doctor.slug %>"><%= h doctor.full_name %></h3>
<% end %>