<%= show_errors_for :term %>

<% form_for @term do |f| %>
	<% fields_for "term[draft_version_attributes]", @version do |v| %>
		<dl class="form">
			<dt><%= f.label :name, 'Term' %></dt>
			<dd><%= f.text_field :name, :size => 40, :maxlength => 250 %></dd>
			
			<dt><%= v.label :definition, 'Definition' %></dt>
			<dd><%= v.text_area :definition, :cols => 60, :rows => 5, :class => 'full' %></dd>
		</dl>
	<% end %>
	
	<p class="checkbox"><%= f.check_box :active_flag %> <%= f.label :active_flag, 'Make this term active' %></p>

	<%= render :partial => 'admin/utility/publish_controls', :locals => { 
																				:enable_publish => ( !@version.new_record? ), 
																				:form => f,
																				:show_revert => (@term.has_published?) } %>
<% end %>